.input {
  width: 100%;
  border: 0;
  padding: 0;
  margin: 0 0 0.5rem 0;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5;
  color: #fff;
  background-color: transparent;
  outline: none;
  cursor: text;
  text-align: center;
}
